<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<ngx-alerts></ngx-alerts>

<div  *ngIf="spinner"> 
    <div role="status"> 
        <p id="loading"></p> 
    </div> 
</div> 

<section id="publishArticle" class="detailsArticle" >
    <div class="container" *ngIf="loaded">
    <div class="section-title" data-aos="fade-left">
        <h2>{{article.title}}</h2>
        <p style="font-style: italic;">door {{article.user.firstName}} {{article.user.lastName}}</p>
    </div>

    <div class="row">
        <div class="col-md-12 tag">
            <hr>
            <p>{{article.tag.name}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="articleImage shadow" [src]="article.image" alt="{{article.title}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 shortSummary">
            <p>{{article.shortSummary}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{{article.subTitle}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{article.body}}</p>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="addArticlePublished()">Publiceren</button>
</div>
</section>