<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()"  data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen, 'navbarOpen': true}" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  *ngIf="notLoggedIn==false">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item"  *ngIf="notSignedUp==false">
        <a class="nav-link"routerLink="/sign-up">Sign-Up</a>
      </li>
      <li class="nav-item"  *ngIf="notLoggedIn==true">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="user.role.name=='Journalist'">
        <a class="nav-link"routerLink="/journalist/dashboard">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="user.role.name=='Admin'">
        <a class="nav-link"routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item dropdown" dropdown >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle >
          Dropdown link 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *dropdownMenu >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>