<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">


<body>

  <div *ngIf="spinner">
    <div role="status">
      <p id="loading"></p>
    </div>
  </div>

  <section id="tag">

    <!-- Page Content -->
    <div class="container" *ngIf="loaded">

      <div class="section-title" data-aos="fade-left">
        <h2>{{tag.name}}</h2>
      </div>

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-md-10">

          <div class="row">
            <div *ngFor="let articlePublished of articlesPublished" class="col-md-4 order-sm-12 card-margin">
              <div class="card my-4 shadow bootstrapCard h-100">
                <div class="card-header">
                  {{articlePublished.tag.name}}
                </div>
                <img class="homeImage" [src]="articlePublished.image">
                <div class="card-body">
                  <h5 class="card-title"> {{articlePublished.title}}</h5>

                  <p class="card-text" style="font-style: italic;">door {{articlePublished.user.firstName}}
                    {{articlePublished.user.lastName}}</p>

                </div>
                <div class="card-footer">
                  <a routerLink="/article/{{articlePublished.title}}" class="btn btn-primary">Lees verder</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-2">

          <!-- Categories Widget -->
          <div class="card my-4 order-sm-1 bootstrapCard links shadow">
            <div class="card-header">Categorieën</div>
            <div class="card-body text-left">
              <div *ngFor="let tag of tags">
                <p>
                  <a (click)="loadNewTag(tag.name)"><i class="material-icons" data-toggle="tooltip"
                      title="Categorie">&#xe5df;</i>{{tag.name}}</a>
                <p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </section>
</body>