<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <section id="admin-dashboard" class="bootstrapCard">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>Dashboard administrator</h2>
        </div>

        <div class="row">
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Artikels beheren</h4>
                <p class="card-text">
                Dashboard voor het behereren van de artikelen. Beoordeel de artikelen in status "Draft" om ze te kunnen publishen naar de site.
                </p>
                <button routerLink="/admin/dashboard/articles" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/articles" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-tags fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Categorieën beheren</h4>
                <p class="card-text">
                  Dashboard voor het behereren van de categorieën. Bekijk huidige categorieën, verwijder, bewerk of voeg toe.
                </p>
                <button routerLink="/admin/dashboard/tags" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-user-circle fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Journalisten beheren</h4>
                <p class="card-text">
                Dashboard voor het behereren van de journalisten. Bekijk alle journalisten. Bekijk account, verwijder, bewerk of voeg toe.
                </p>
                <button routerLink="/admin/dashboard/journalists" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>