@import './variables';

.articleImage{
 
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        margin-top: 2.5%;
        margin-bottom: 6%;
    
}

.fileContainer {
    overflow: hidden;
    position: relative;
}
.homeImage{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 769px) {
    .articleImage{
        width: 50% !important;
    }
  }