$navColor: #0D1B2A;
$titleColor: #1B263B;
$buttonColor: #415A77;
$lightBlueBackground: #778DA9;
$platinumColor: #E0E1DD;
$editColor: #FFC107;
$editHover: #947004;
$deleteColor: #F44336;
$deleteHover: #940A00;
$wit: #fff;
$cream: #fcfcfc;
$creamHover: #f5f5f5;
$review: #42BD50;
$reviewHover: #277030;
$info: #133DBD;
$infoHover: #0B246E;